.th-pywal {
  /* --background-color: var(--background);
  --medium-color: var(--color4);
  --text-color: var(--foreground);
  --action-color: var(--color4);
  --error-color: var(--color2);
  --accent-border-color: var(--color5);
  --selected-item-color: var(--color5);
  --selected-on-secondary-item-color: var(--color5);
  --text-selection-bg-color: var(--color3); */

  --action-color: var(--color4);
  --background-color: var(--background);
  --error-color: var(--color2);
  --intermediate-background-color: var(--color1);
  --medium-color: var(--foreground);
  --secondary-background-color: var(--color1);
  --text-color: var(--foreground);
  --text-contrast-action-color: var(--background);
  --form-box-shadow-color-focus: var(--background);
  --form-box-shadow-color-focus-error: var(--background);
}